<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/kaart.js"></script>
  <title>{{ title }}</title>
</head>
