{% include head %}

<body>
  <div class="wrap">
    <div class="map" style="background-image: url({{ kaart }})">
    </div>

    <div class="legenda hide">
      <div class="image">
        <img src="{{ legenda }}">
      </div>
    </div>

    <div class="info"></div>
  </div>
</body>

</html>
